.details-button {
  background-color: #017bfb;
  color: #fff;
}

.modal-content {
  width: 100%;
  max-width: 600px;
  margin: 300px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  header {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
