.singleProduct {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  div {
    margin: 0 15px;
  }
}
.productName {
  font-size: 1.17em;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  margin-top: 10px;
}

.productPrice {
  font-weight: bold;
  color: #000;
}

.productCategory {
  width: 100%;
}

.viewDetailsBtn {
  width: 100%;
  margin-top: 10px;
  background-color: #017bfb;
  color: #fff;
}
